 <div id="admin-content">
        <div class="admin-content-header">
            <h1 class="admin-heading"><i class="fa fa-file-text"></i> All Articles</h1>
            <a class="add-new" href="add-article.html">Add New Article</a>
        </div>

        <table class="content-table">
            <thead>
                <tr>
                    <th>S.No.</th>
                    <th>Title</th>
                    <th>Category</th>
                    <th>Date</th>
                    <th>Author</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class='id'>1</td>
                    <td>Lorem ipsum dolor sit amet</td>
                    <td>Html</td>
                    <td>03 June, 2026</td>
                    <td>Admin</td>
                    <td class='edit'><a href='update-article.html'><i class='fa fa-edit'></i></a></td>
                    <td class='delete'><a href='delete-article.html'><i class='fa fa-trash-o'></i></a></td>
                </tr>
                <tr>
                    <td class='id'>2</td>
                    <td>Lorem ipsum dolor sit amet</td>
                    <td>Html</td>
                    <td>03 June, 2026</td>
                    <td>Admin</td>
                    <td class='edit'><a href='update-article.html'><i class='fa fa-edit'></i></a></td>
                    <td class='delete'><a href='delete-article.html'><i class='fa fa-trash-o'></i></a></td>
                </tr>
                <tr>
                    <td class='id'>3</td>
                    <td>Lorem ipsum dolor sit amet</td>
                    <td>Html</td>
                    <td>03 June, 2026</td>
                    <td>Admin</td>
                    <td class='edit'><a href='update-article.html'><i class='fa fa-edit'></i></a></td>
                    <td class='delete'><a href='delete-article.html'><i class='fa fa-trash-o'></i></a></td>
                </tr>
                <tr>
                    <td class='id'>4</td>
                    <td>Lorem ipsum dolor sit amet</td>
                    <td>Html</td>
                    <td>03 June, 2026</td>
                    <td>Admin</td>
                    <td class='edit'><a href='update-article.html'><i class='fa fa-edit'></i></a></td>
                    <td class='delete'><a href='delete-article.html'><i class='fa fa-trash-o'></i></a></td>
                </tr>
                <tr>
                    <td class='id'>5</td>
                    <td>Lorem ipsum dolor sit amet</td>
                    <td>Html</td>
                    <td>03 June, 2026</td>
                    <td>Admin</td>
                    <td class='edit'><a href='update-article.html'><i class='fa fa-edit'></i></a></td>
                    <td class='delete'><a href='delete-article.html'><i class='fa fa-trash-o'></i></a></td>
                </tr>
                <tr>
                    <td class='id'>6</td>
                    <td>Lorem ipsum dolor sit amet</td>
                    <td>Html</td>
                    <td>03 June, 2026</td>
                    <td>Admin</td>
                    <td class='edit'><a href='update-article.html'><i class='fa fa-edit'></i></a></td>
                    <td class='delete'><a href='delete-article.html'><i class='fa fa-trash-o'></i></a></td>
                </tr>
                <tr>
                    <td class='id'>7</td>
                    <td>Lorem ipsum dolor sit amet</td>
                    <td>Html</td>
                    <td>03 June, 2026</td>
                    <td>Admin</td>
                    <td class='edit'><a href='update-article.html'><i class='fa fa-edit'></i></a></td>
                    <td class='delete'><a href='delete-article.html'><i class='fa fa-trash-o'></i></a></td>
                </tr>
                <tr>
                    <td class='id'>8</td>
                    <td>Lorem ipsum dolor sit amet</td>
                    <td>Html</td>
                    <td>03 JUNE, 2026</td>
                    <td>Admin</td>
                    <td class='edit'><a href='update-article.html'><i class='fa fa-edit'></i></a></td>
                    <td class='delete'><a href='delete-article.html'><i class='fa fa-trash-o'></i></a></td>
                </tr>
            </tbody>
        </table>

        <nav aria-label="Articles pagination">
            <ul>
                <li><a>Previous</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#" aria-current="page">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">Next</a></li>
            </ul>
        </nav>
    </div>