<div id="admin-content">
  <h1 class="admin-heading">
    <i class="fa fa-cubes"></i>Dashboard | <small>Hello User</small>
  </h1>

  <div class="dashboard-stats">
    <div class="admin-block bg-articles">
      <i class="fa fa-file-text"></i>
      <h4>Articles</h4>
      <h1>10</h1>
    </div>

    <div class="admin-block">
      <i class="fa fa-gears"></i>
      <h4>Categories</h4>
      <h1>10</h1>
    </div>

    <div class="admin-block bg-users">
      <i class="fa fa-users"></i>
      <h4>Users</h4>
      <h1>10</h1>
    </div>
  </div>
</div>
