<link rel="stylesheet" href="/css/admin.css" />

<div id="admin-content">
    <div>
        <div>

            <div>
                <h1>
                    <i class="fa fa-cog"></i> Settings
                </h1>
            </div>

            <div>
                <div>

                    <div>
                        <form action="" method="POST" enctype="multipart/form-data">

                            <div>
                                <label for="article_title">Website Title</label>
                                <input
                                    type="text"
                                    id="article_title"
                                    name="article_title"
                                    autocomplete="off"
                                    required
                                >
                            </div>

                            <div>
                                <label for="website_logo">Upload Logo</label>
                                <input
                                    type="file"
                                    id="website_logo"
                                    name="website_logo"
                                    required
                                >
                            </div>

                            <div>
                                <label for="footer_description">Footer Description</label>
                                <input
                                    type="text"
                                    id="footer_description"
                                    name="footer_description"
                                    autocomplete="off"
                                    required
                                >
                            </div>

                            <input
                                type="submit"
                                name="submit"
                                value="Save"
                            >

                        </form>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>