<link rel="stylesheet" href="/css/categories.css" />
<div id="admin-content">
  <h1 class="admin-heading">Add New Category</h1>

  <div class="form-card">
    <h5 class="form-card-header">Add New Category</h5>
    <div class="form-card-body">
      <!-- Form Start -->
      <form action="/admin/add-category" method="POST" autocomplete="off">
        <div class="form-group">
          <label for="">Category Name</label>
          <input type="text" name="name" placeholder="Category Name" required />
        </div>
        <div class="form-group">
          <label for="">Description</label>
          <textarea name="description"></textarea>
        </div>
        <input type="submit" name="save" value="Save" required />
      </form>
      <!-- /Form End -->

       <!-- Error Message -->
            <%- include('../partials/error') %> 
       <!-- /Error Message -->
        
    </div>
  </div>
</div>
