<div id="admin-content">
    <div class="admin-content-header">
        <h1 class="admin-heading"><i class="fa fa-gears"></i> All Categories</h1>
        <a class="add-new" href="add-category.html">add category</a>
    </div>

    <table class="content-table">
        <thead>
            <tr>
                <th>S.No.</th>
                <th>Category Name</th>
                <th>No. of Article</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class='id'>1</td>
                <td>Html</td>
                <td>5</td>
                <td class='edit'><a href='update-category.html'><i class='fa fa-edit'></i></a></td>
                <td class='delete'><a href='delete-category.html'><i class='fa fa-trash-o'></i></a></td>
            </tr>
            <tr>
                <td class='id'>2</td>
                <td>Css</td>
                <td>15</td>
                <td class='edit'><a href='update-category.html'><i class='fa fa-edit'></i></a></td>
                <td class='delete'><a href='delete-category.html'><i class='fa fa-trash-o'></i></a></td>
            </tr>
            <tr>
                <td class='id'>3</td>
                <td>Java</td>
                <td>8</td>
                <td class='edit'><a href='update-category.html'><i class='fa fa-edit'></i></a></td>
                <td class='delete'><a href='delete-category.html'><i class='fa fa-trash-o'></i></a></td>
            </tr>
            <tr>
                <td class='id'>4</td>
                <td>Php</td>
                <td>11</td>
                <td class='edit'><a href='update-category.html'><i class='fa fa-edit'></i></a></td>
                <td class='delete'><a href='delete-category.html'><i class='fa fa-trash-o'></i></a></td>
            </tr>
            <tr>
                <td class='id'>5</td>
                <td>Python</td>
                <td>13</td>
                <td class='edit'><a href='update-category.html'><i class='fa fa-edit'></i></a></td>
                <td class='delete'><a href='delete-category.html'><i class='fa fa-trash-o'></i></a></td>
            </tr>
            <tr>
                <td class='id'>6</td>
                <td>Scss</td>
                <td>3</td>
                <td class='edit'><a href='update-category.html'><i class='fa fa-edit'></i></a></td>
                <td class='delete'><a href='delete-category.html'><i class='fa fa-trash-o'></i></a></td>
            </tr>
        </tbody>
    </table>

    <nav>
        <ul>
            <li><a>Previous</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#" aria-current="page">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">Next</a></li>
        </ul>
    </nav>
</div>