<!-- post-container -->
<div class="post-container">
  <h2 class="page-heading page-heading--page">
    Author : <%= author.fullname %>
  </h2>
  <%- include('partials/loop') %>
</div>
<!-- /post-container -->
