<div id="admin-content">
    <h1 class="admin-heading"><i class="fa fa-comments"></i> Comments Management</h1>

    <table class="content-table">
        <thead>
            <tr>
                <th>Article</th>
                <th>Name</th>
                <th>Comment</th>
                <th>Status</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class='id'>Ipsum dolor sit amet</td>
                <td>Rahul Sharma</td>
                <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, eveniet!</td>
                <td>Approved</td>
                <td>02-June-2026</td>
                <td class='edit'>
                    <select name="status" class="status-select">
                        <option value="pending">Pending</option>
                        <option value="approved" selected>Approved</option>
                        <option value="rejected">Rejected</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class='id'>Ipsum dolor sit amet</td>
                <td>Rahul Sharma</td>
                <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, eveniet!</td>
                <td>Approved</td>
                <td>02-June-2026</td>
                <td class='edit'>
                    <select name="status" class="status-select">
                        <option value="pending">Pending</option>
                        <option value="approved" selected>Approved</option>
                        <option value="rejected">Rejected</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class='id'>Ipsum dolor sit amet</td>
                <td>Rahul Sharma</td>
                <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, eveniet!</td>
                <td>Approved</td>
                <td>02-June-2026</td>
                <td class='edit'>
                    <select name="status" class="status-select">
                        <option value="pending">Pending</option>
                        <option value="approved" selected>Approved</option>
                        <option value="rejected">Rejected</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class='id'>Ipsum dolor sit amet</td>
                <td>Rahul Sharma</td>
                <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, eveniet!</td>
                <td>Approved</td>
                <td>02-June-2026</td>
                <td class='edit'>
                    <select name="status" class="status-select">
                        <option value="pending">Pending</option>
                        <option value="approved" selected>Approved</option>
                        <option value="rejected">Rejected</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class='id'>Ipsum dolor sit amet</td>
                <td>Rahul Sharma</td>
                <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, eveniet!</td>
                <td>Approved</td>
                <td>02-June-2026</td>
                <td class='edit'>
                    <select name="status" class="status-select">
                        <option value="pending">Pending</option>
                        <option value="approved" selected>Approved</option>
                        <option value="rejected">Rejected</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class='id'>Ipsum dolor sit amet</td>
                <td>Rahul Sharma</td>
                <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, eveniet!</td>
                <td>Approved</td>
                <td>02-June-2026</td>
                <td class='edit'>
                    <select name="status" class="status-select">
                        <option value="pending">Pending</option>
                        <option value="approved" selected>Approved</option>
                        <option value="rejected">Rejected</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class='id'>Ipsum dolor sit amet</td>
                <td>Rahul Sharma</td>
                <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, eveniet!</td>
                <td>Approved</td>
                <td>02-June-2026</td>
                <td class='edit'>
                    <select name="status" class="status-select">
                        <option value="pending">Pending</option>
                        <option value="approved" selected>Approved</option>
                        <option value="rejected">Rejected</option>
                    </select>
                </td>
            </tr>
        </tbody>
    </table>

    <nav aria-label="Comments pagination">
        <ul>
            <li><a>Previous</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#" aria-current="page">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">Next</a></li>
        </ul>
    </nav>
</div>