<div id="admin-content">
    <div class="admin-content-header">
        <h1 class="admin-heading"><i class="fa fa-users"></i> All Users</h1>
        <a class="add-new" href="add-user.html">add user</a>
    </div>

    <table class="content-table">
        <thead>
            <tr>
                <th>S.No.</th>
                <th>Full Name</th>
                <th>User Name</th>
                <th>Role</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class='id'>1</td>
                <td>Ram Sharma</td>
                <td>ram</td>
                <td>admin</td>
                <td class='edit'><a href='update-user.html'><i class='fa fa-edit'></i></a></td>
                <td class='delete'><a href='delete-user.html'><i class='fa fa-trash-o'></i></a></td>
            </tr>
            <tr>
                <td class='id'>2</td>
                <td>Shyam Kumar</td>
                <td>shyam</td>
                <td>author</td>
                <td class='edit'><a href='update-user.html'><i class='fa fa-edit'></i></a></td>
                <td class='delete'><a href='delete-user.html'><i class='fa fa-trash-o'></i></a></td>
            </tr>
            <tr>
                <td class='id'>3</td>
                <td>Ramesh Kumar</td>
                <td>ramesh</td>
                <td>admin</td>
                <td class='edit'><a href='update-user.html'><i class='fa fa-edit'></i></a></td>
                <td class='delete'><a href='delete-user.html'><i class='fa fa-trash-o'></i></a></td>
            </tr>
            <tr>
                <td class='id'>4</td>
                <td>Satish Sharma</td>
                <td>satish</td>
                <td>admin</td>
                <td class='edit'><a href='update-user.html'><i class='fa fa-edit'></i></a></td>
                <td class='delete'><a href='delete-user.html'><i class='fa fa-trash-o'></i></a></td>
            </tr>
        </tbody>
    </table>

    <nav>
        <ul>
            <li><a>Previous</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#" aria-current="page">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">Next</a></li>
        </ul>
    </nav>
</div>